<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Some Website</title>
</head>
<body>
    {{> header}}
    <p>{{wellcomMessage}}</p>
    <p>{{screamIt 'What up'}}</p>
    <p>{{screamIt  wellcomMessage }}</p>
    {{> footer}}
</body>
</html>